Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -readability-uppercase-literal-suffix,
  -clang-diagnostic-gnu-zero-variadic-macro-arguments,
  -modernize-use-auto,
  -readability-function-cognitive-complexity
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: 'include/qcdsl/.*'
